---
const { composition: composition } = Astro.props;
import { HeroiconsCodeBracket16Solid, HeroiconsDocument, HeroiconsMusicalNote } from '@components/icons';
---

<div class="p-5 dark:bg-black/10 bg-black/5 shadow rounded-2xl flex gap-10 max-md:flex-col max-md:gap-5">
    <div class="row-start-1 grow shrink basis-0">
        <p class="mb-5 text-2xl font-bold"><HeroiconsMusicalNote className="inline align-middle relative bottom-0.5"/> {composition.data.title}</p>
        <hr class="mb-2">
        <p class="mb-5">{composition.data.description}</p>
        
        { composition.data.scoreLink && 
            <a class="button" href={composition.data.scoreLink}>
                <HeroiconsDocument className="icon"/>
                Score</a> 
        }

        {composition.data.codeUrl && <a class="button" href={composition.data.codeUrl}>
            <HeroiconsCodeBracket16Solid className="icon"/>
            Code</a> }
    </div>
    <div class="grow shrink basis-0 flex items-center justify-center">
        <audio controls>
            <source src={composition.data.recordingUrl}>
            Your browser does not support the audio tag.
        </audio>
    </div>
</div>